@import "bootstrap";
@import "bootstrap-sprockets";
@import 'animate';

body{
    background: image-url('background-world-map.gif');
    background-attachment: fixed;
    margin-top: 64px!important;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}
.logo1{
    width: 239px;
    margin-top: -92px;
}
.logo2{
    width: 586px;
    margin-top: -78px;
    margin: -187px 212px 8px;
}
.jumbotron {
    background-color: rgba(248, 248, 248, 0.67)!important;
}
.jumbo {
    width: 1151px!important;
    height: 281px!important;
}

.face {
    margin: -273px -1px 0px!important;
}
h2 {
    font-weight: 800!important;
    color: #5c381e;
    text-align: center;
}
.bounceInLeft {
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.welly{
    padding: 52px!important;
    background-color: rgba(51, 122, 183, 0.65)!important;
    color: #fff;
}
small {
    color: #fff!important;
}
.bit {
    width: 61px!important;
}
.bounceInRight {
    -webkit-animation-name: bounceInRight;
    animation-name: bounceInRight;
}
.outro {
    background-color: rgba(183, 51, 130, 0.65)!important;
    color: #fff;
    padding: 52px!important;
}
.state {
    margin-top: -313px!important;
}
.single-footer img {
    margin-bottom: 20px;
}
.footer {
    padding: 0px 0 80px 0;
}
.foot {
    width: 455px;
    margin-top: -117px;
    margin-left: -59px;
}
.footer-area {
    background: #000;
    border-top: 4px solid #00AEEF;
    padding-bottom: 20px;
}
.single-footer {
    margin-top: 60px;
}
.single-footer p {
    color: #fff;
    line-height: 26px;
}
.single-footer h4 {
    color: #fff;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 45px;
}
.single-footer h5 {
    color: #fff;
    margin-top: 20px;
    font-weight: 700;
}
.single-footer ul li {
    margin-bottom: 10px;
}
.single-footer ul li a {
    color: #6d7a83;
    font-weight: 700;
}
.single-footer a {
    color: #fff;
}
.try {
    margin-top: -195px;
}
p {
    font-family: "Calibri",sans-serif!important;
    text-align: justify;
}
.footer-copy {
    color: #fff;
    font-weight: 700;
}

.footer-copy span {
    margin-right: 20px;
    margin-left: 20px;
}
.footer-copy span a {
    color: #00aeef;
    font-weight: 800;
}
.ima {
    height: 379px!important;
}
.imaw {
    height: 379px!important;
    width: 534px!important;
}

/* Styles for registration */
.favi2 {
    width: 478px;
    margin-top: -252px;
}
.banner {
    margin-top: -25px;
    margin-right: -127px;
    margin-bottom: 20px;
    margin-left: -127px;
    
}
.reg{
    font-size: 45px;
    text-align: center;
    background-color: rgb(103, 75, 55);
    padding: 35px 525px;
    color: #fff;
    margin-top: -70px;
}
.col-md-88 {
    width: 62.666667%;
}
.wellol {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: rgba(240, 240, 240, 0)!important;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}
.wello2 {
    min-height: 20px;
    padding: 19px;
    margin-top: -177px;
    margin-bottom: 50px;
    margin-left: 191px;
    background-color: rgba(240, 240, 240, 0)!important;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}
.center {
    margin-left: 191px;
    margin-top: -177px;
}
.btn-br {
    color: #fff;
    background-color: #5c381e!important;
    border-color: #734523!important;
}
.btn-lg, .btn-group-lg > .btn {
    padding: 10px 23px!important;
}
.barrack {
    margin-left: 240px;
}

/* login styles */
.modalFooter{
    padding: 15px;
    text-align: left;
    border-top: 1px solid #e5e5e5;
}
.login{
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}


/*

.new_user{
    text-align: center;
    margin: 20px auto;
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: rgba(240, 240, 240, 0) !important;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    width: 500px;
}


margin-left: 191px;
    margin-top: -177px;

    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: rgba(240, 240, 240, 0) !important;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
*/


/* User sign in and sign forms. */
.border-form-div {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 10px;
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}
