@import "bootstrap";
@import "bootstrap-sprockets";
@import 'animate';

body{
    background: image-url('background-world-map.gif');
    background-attachment: fixed;
    margin-top: 64px!important;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}
.logo1{
	width: 239px;
    margin-top: -92px;
}
.logo2{
	width: 586px;
    margin-top: -78px;
    margin: -187px 212px 8px;
}
.jumbotron {
    background-color: rgba(248, 248, 248, 0.67)!important;
}
.jumbo {
    width: 1151px!important;
    height: 281px!important;
}

.face {
    margin: -273px -1px 0px!important;
}
h2 {
    font-weight: 800!important;
    color: #5c381e;
}
.bounceInLeft {
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.welly{
    padding: 52px!important;
    background-color: rgba(51, 122, 183, 0.65)!important;
    color: #fff;
}
small {
    color: #fff!important;
}
.bit {
    width: 61px!important;
}
.bounceInRight {
    -webkit-animation-name: bounceInRight;
    animation-name: bounceInRight;
}
.outro {
    background-color: rgba(183, 51, 130, 0.65)!important;
    color: #fff;
    padding: 52px!important;
}
.state {
    margin-top: -313px!important;
}
.single-footer img {
    margin-bottom: 20px;
}
.footer {
    padding: 0px 0 80px 0;
}
.foot {
    width: 455px;
    margin-top: -117px;
    margin-left: -59px;
}
.footer-area {
    background: #000;
    border-top: 4px solid #00AEEF;
    padding-bottom: 20px;
}
.single-footer {
    margin-top: 60px;
}
.single-footer p {
    color: #fff;
    line-height: 26px;
}
.single-footer h4 {
    color: #fff;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 45px;
}
.single-footer h5 {
    color: #fff;
    margin-top: 20px;
    font-weight: 700;
}
.single-footer ul li {
    margin-bottom: 10px;
}
.single-footer ul li a {
    color: #6d7a83;
    font-weight: 700;
}
.single-footer a {
    color: #fff;
}
.try {
    margin-top: -195px;
}
p {
    font-family: "Calibri",sans-serif!important;
    text-align: justify;
}
.footer-copy {
    color: #fff;
    font-weight: 700;
}

.footer-copy span {
    margin-right: 20px;
    margin-left: 20px;
}
.footer-copy span a {
    color: #00aeef;
    font-weight: 800;
}
.ima {
    height: 379px!important;
}
.imaw {
    height: 379px!important;
    width: 534px!important;
}