


   
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Log in</h4>
      </div>
      <div class="modal-body">
        <form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
</form>
<small ><a href="#">Forgot password</a></small>
<small class="forgo"><a href="#">Register</a></small>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Log in</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
<h2 class="banner2">Buy Bitcoins here </h2>
<div class="row">

</div>
<div class="col-md-12">
<%= image_tag('creativcoin.png', class: 'favi3') %>
<table class=" tablet table table-striped table-hover">
    <thead>
      <tr>
        <th>Seller</th>
        <th>Payment method</th>
        <th>Price</th>
        <th>Limits</th>
       
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td> IMPS Bank Transfer India</td>
        <td>46329.05 INR / BTCm</td>
       <td>15000 - 19415 INR</td>
  <td> <a href="#" class="btn btn-size btn-br">Buy</a> </td>    
      </tr>
      <tr>
        <td>Mary</td>
        <td> IMPS Bank Transfer India</td>
        <td>46329.05 INR / BTC</td>
         <td>15000 - 19415 INR</td>
       <td> <a href="#" class="btn btn-size btn-br">Buy</a> </td>

          
      </tr>
        <tr>
        <td>Mary</td>
        <td> IMPS Bank Transfer India</td>
        <td>46329.05 INR / BTC</td>
         <td>15000 - 19415 INR</td>
 <td> <a href="#" class="btn  btn-size btn-br">Buy</a> </td>
          
      </tr>
        <tr>
        <td>Mary</td>
        <td> IMPS Bank Transfer India</td>
        <td>46329.05 INR / BTC</td>
         <td>15000 - 19415 INR</td>
     <td> <a href="#" class="btn btn-size btn-br">Buy</a> </td>
          
      </tr>
        <tr>
        <td>Mary</td>
        <td> IMPS Bank Transfer India</td>
        <td>46329.05 INR / BTC</td>
         <td>15000 - 19415 INR</td>
         <td> <a href="#" class="btn  btn-size btn-br">Buy</a> </td>
      </tr>
        <tr>
        <td>Mary</td>
        <td> IMPS Bank Transfer India</td>
        <td>46329.05 INR / BTC</td>
         <td>15000 - 19415 INR</td>
     <td> <a href="#" class="btn btn-size btn-br">Buy</a> </td>
          
      </tr>
      <tr>
        <td>July</td>
        <td> IMPS Bank Transfer India</td>
        <td>46329.05 INR / BTC</td>
         <td>15000 - 19415 INR</td>
      <td> <a href="#" class="btn btn-size btn-br">Buy</a> </td>
       
      </tr>
        <tr>
        <td>July</td>
        <td> IMPS Bank Transfer India</td>
        <td>46329.05 INR / BTC</td>
         <td>15000 - 19415 INR</td>
      <td> <a href="#" class="btn btn-size btn-br">Buy</a> </td>
       
      </tr>
        <tr>
        <td>July</td>
        <td> IMPS Bank Transfer India</td>
        <td>46329.05 INR / BTC</td>
         <td>15000 - 19415 INR</td>
      <td> <a href="#" class="btn btn-size btn-br">Buy</a> </td>
       
      </tr>
        <tr>
        <td>July</td>
        <td> IMPS Bank Transfer India</td>
        <td>46329.05 INR / BTC</td>
         <td>15000 - 19415 INR</td>
      <td> <a href="#" class="btn btn-size btn-br">Buy</a> </td>
       
      </tr>
        <tr>
        <td>July</td>
        <td> IMPS Bank Transfer India</td>
        <td>46329.05 INR / BTC</td>
         <td>15000 - 19415 INR</td>
      <td> <a href="#" class="btn btn-size btn-br">Buy</a> </td>
       
      </tr>
        <tr>
        <td>July</td>
        <td> IMPS Bank Transfer India</td>
        <td>46329.05 INR / BTC</td>
         <td>15000 - 19415 INR</td>
      <td> <a href="#" class="btn btn-size btn-br">Buy</a> </td>
       
      </tr>
    </tbody>
  </table>

  <h4><a href="#">See more at the next Page...</a></h4>

  
</div>
</div>
