<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>CreativeCoins</title>

  

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body background="img/background-world-map.gif">

<!-- Small modal -->


<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Log in</h4>
      </div>
      <div class="modal-body">
        <form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
</form>
<small ><a href="#">Forgot password</a></small>
<small class="forgo"><a href="#">Register</a></small>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Log in</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
<h2 class="banner2">Sell Bitcoins here </h2>
<div class="row">

</div>
<div class="col-md-12">

 <%= image_tag('creativcoin.png', class: 'favi3') %>

<table class=" tablet table table-striped table-hover">
    <thead>
      <tr>
        <th>Buyer</th>
        <th>Payment method</th>
        <th>Price</th>
        <th>Limits</th>
       
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td> IMPS Bank Transfer India</td>
        <td>46329.05 INR / BTCm</td>
       <td>15000 - 19415 INR</td>
  <td> <a href="#" class="btn btn-size btn-br">Sell</a> </td>    
      </tr>
      <tr>
        <td>Mary</td>
        <td> IMPS Bank Transfer India</td>
        <td>46329.05 INR / BTC</td>
         <td>15000 - 19415 INR</td>
     <td> <a href="#" class="btn btn-size btn-br">Sell</a> </td>  

          
      </tr>
        <tr>
        <td>Mary</td>
        <td> IMPS Bank Transfer India</td>
        <td>46329.05 INR / BTC</td>
         <td>15000 - 19415 INR</td>
<td> <a href="#" class="btn btn-size btn-br">Sell</a> </td>  
          
      </tr>
        <tr>
        <td>Mary</td>
        <td> IMPS Bank Transfer India</td>
        <td>46329.05 INR / BTC</td>
         <td>15000 - 19415 INR</td>
 <td> <a href="#" class="btn btn-size btn-br">Sell</a> </td>  
          
      </tr>
        <tr>
        <td>Mary</td>
        <td> IMPS Bank Transfer India</td>
        <td>46329.05 INR / BTC</td>
         <td>15000 - 19415 INR</td>
      <td> <a href="#" class="btn btn-size btn-br">Sell</a> </td>  
      </tr>
        <tr>
        <td>Mary</td>
        <td> IMPS Bank Transfer India</td>
        <td>46329.05 INR / BTC</td>
         <td>15000 - 19415 INR</td>
   <td> <a href="#" class="btn btn-size btn-br">Sell</a> </td>  
          
      </tr>
      <tr>
        <td>July</td>
        <td> IMPS Bank Transfer India</td>
        <td>46329.05 INR / BTC</td>
         <td>15000 - 19415 INR</td>
 <td> <a href="#" class="btn btn-size btn-br">Sell</a> </td>  
       
      </tr>
        <tr>
        <td>July</td>
        <td> IMPS Bank Transfer India</td>
        <td>46329.05 INR / BTC</td>
         <td>15000 - 19415 INR</td>
 <td> <a href="#" class="btn btn-size btn-br">Sell</a> </td>  
       
      </tr>
        <tr>
        <td>July</td>
        <td> IMPS Bank Transfer India</td>
        <td>46329.05 INR / BTC</td>
         <td>15000 - 19415 INR</td>
   <td> <a href="#" class="btn btn-size btn-br">Sell</a> </td>  
       
      </tr>
        <tr>
        <td>July</td>
        <td> IMPS Bank Transfer India</td>
        <td>46329.05 INR / BTC</td>
         <td>15000 - 19415 INR</td>
  <td> <a href="#" class="btn btn-size btn-br">Sell</a> </td>  
       
      </tr>
        <tr>
        <td>July</td>
        <td> IMPS Bank Transfer India</td>
        <td>46329.05 INR / BTC</td>
         <td>15000 - 19415 INR</td>
  <td> <a href="#" class="btn btn-size btn-br">Sell</a> </td>  
       
      </tr>
        <tr>
        <td>July</td>
        <td> IMPS Bank Transfer India</td>
        <td>46329.05 INR / BTC</td>
         <td>15000 - 19415 INR</td>
     <td> <a href="#" class="btn btn-size btn-br">Sell</a> </td>  
       
      </tr>
    </tbody>
  </table>

  <h4><a href="#">View more at the next Page...</a></h4>

  
</div>
</div>
   
  </body>
</html>
